/* styles.css */
.create-form-title {
  font-size: 24px;
  text-align: center;
}

.create-product-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.create-form-group {
  margin: 10px 0;
}

.create-form-control {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.create-checkbox {
  margin-right: 10px;
}

#product-preview-create {
  width: 100%; 
  display: none;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.create-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-back-link-box {
  padding: 20px 0;
  text-align: center
}

.create-back-link {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 7px 15px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.create-btn, .create-back-link {
  transition: background-color 0.3s, color 0.3s;
}

.create-btn:hover, .create-back-link:hover {
  background-color: #0056b3;
  color: #fff;
}

