.edit-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.category-edit-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.category-edit-form .form-group {
  margin: 10px 0;
}

.category-edit-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.category-edit-form .edit-form-control {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.category-image-edit {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.category-edit-form .update-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.category-edit-form .update-button:hover {
  background-color: #0056b3;
}

.edit-back-link-box {
  padding: 20px 0;
  text-align: center;
}

.back-link {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 7px 15px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.back-link:hover {
  background-color: #0056b3;
  color: #fff;
}
